In [16]:


x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [17]:
str1 = "welcome to the beautiful world of python"

In [20]:
str1.title()

'Welcome To The Beautiful World Of Python'

In [20]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end = "")
    print("\n")

1

12

123

1234

12345

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [31]:
n1 = int(input("Enter any number: "))
sum1 = 0
for i in range(1,n1+1):
    sum1 =i + sum1
print(sum1)

Enter any number: 21
231

Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [42]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end="")
    print(" ")

54321
4321
321
21
1

Write a program to use for loop to print the following reverse number pattern

5 5 5 5 5

4 4 4 4

3  3 3

2 2 

1

In [40]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(n-i,end="")
    print(" ")

55555
4444
333
22
1

In [43]:
# print the following list in reverse order:

list1 = [10, 20, 30, 40, 50]

In [44]:
list1.reverse()

In [48]:
list1 = list1[::-1]

In [49]:
list1[::-1]

[50, 40, 30, 20, 10]

In [56]:
for i in range(-10,0,1):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

Write a program to print the cube of all numbers from 1 to a given number

In [57]:
n = int(input())
for i in range(1,n+1):
    print(i*i*i)

21
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261

Write a program to use the loop to find the factorial of a given number.

In [61]:
n = int(input())
fact1 = 1
for i in range(1,n+1):
    fact1 = fact1*i
print(fact1)

6
720

Display Fibonacci series up to 10 terms

In [65]:
n = int(input())
n1 = 0
n2 = 1
for i in range(1,n+1):
    n1 = n2
    res = n1+n2
    n2 = res
    print(res)

10
1024

In [5]:
class Person(object):
   
  # Constructor
      def __init__(self, name, id):
        self.name = name
        self.id = id
 
  # To check if this person is an employee
      def Display(self):
        print(self.name, self.id)

# Driver code
emp = Person("Satyam", 102) # An Object of Person
emp.Display()

Satyam 102

In [6]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
        
    def language(self):
        print("Hindi is the most widely spoken language of India.")

    def type(self):
        print("India is a developing country.")

class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")

    def language(self):
        print("English is the primary language of USA.")

    def type(self):
        print("USA is a developed country.")

obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [11]:
def func(obj):
    obj.capital()
    obj.language()

In [12]:
obj_ind1 = India()
obj_usa1 = USA()

In [13]:
func(obj_ind)
func(obj_usa)

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
Washington, D.C. is the capital of USA.
English is the primary language of USA.

Write a program to create a function that takes two arguments, name and age, and print their value.

In [3]:
def func(a,b):
    a = str(a)
    b = int(b)
    print(a)
    print(b)

In [4]:
func(23,34)

23
34

In [7]:
type(func(23,34))

23
34

NoneType

Write a program to create function func1() to accept a variable length of arguments and print their value.

In [15]:
def func(*a):
    for i in a:
        print(i)

In [16]:
func(23,34,55,68,97,5,76)

23
34
55
68
97
5
76

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [17]:
def calculation(a,b):
    return a+b, a-b

In [18]:
calculation(89,67)

(156, 22)

Write a program to create a function show_employee() using the following conditions.

* It should accept the employee’s name and salary and display both.

* If the salary is missing in the function call then assign default value 9000 to salary

In [24]:
def show_employee(name,salary=9000):
    return name, salary

In [25]:
show_employee("Venkata",4500000)

('Venkata', 4500000)

In [26]:
show_employee("Vamsi")

('Vamsi', 9000)

Create an inner function to calculate the addition in the following way--

* Create an outer function that will accept two parameters, a and b
* Create an inner function inside an outer function that will calculate the addition of a and b
* At last, an outer function will add 5 into addition and return it

In [28]:
def accept(a,b):
    def addi():
        return a+b
    return a+b+5

In [29]:
accept(23,34)

62

Exercise 9: Find the largest item from a given list

In [53]:
x = [9,23,34,45,54,3,53,32,102,11324,234,22222,681287,121424,121314,3565461]

In [54]:
def large(x):
    largest = 0
    i = 0
    for i in range(len(x)):
        if x[i]>largest:
            largest = x[i]
            i = i+1
        else:
            pass
    return largest

In [56]:
large(x)

3565461

Exercise 9: Find the smallest item from a given list

In [157]:
def small(x):
    i = 0
    smallest = x[i]
    for i in range(0, len(x)-1):
        if smallest > x[i+1]:
            smallest = x[i+1]
            i = i+1
        else:
            pass    
    return smallest

In [158]:
small(x)

-242452842

In [154]:
x = [9,23,34,45,54,39,3,-242452842]

In [156]:
print(smallest)

-242452842

Exercise 9: Find the largest item from a given list

In [151]:
x = [-3,0,-39,3,-242452842]

In [152]:
i = 0
largest = x[i]
for i in range(0, len(x)-1):
    if largest < x[i+1]:
        largest = x[i+1]
        i = i+1
    else:
        pass

In [153]:
print(largest)

3

Convert two lists into a dictionary

In [159]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [165]:
dict1 = dict(zip(keys,values))

In [166]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge two Python dictionaries into one

In [167]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [168]:
dict3 = dict1.copy()

In [169]:
dict3.update(dict2)

In [170]:
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Print the value of key ‘history’ from the below dict

In [171]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [176]:
sampleDict["class"]["student"]["marks"]["history"]

80

Create a dictionary by extracting the keys from a given dictionary

In [177]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [179]:
new_dict = {k: sample_dict[k] for k in keys}

In [180]:
new_dict

{'name': 'Kelly', 'salary': 8000}

In [182]:
new_dictt = dict()

In [185]:
for k in keys:
    new_dictt.update({k: sample_dict[k]})

In [186]:
new_dictt

{'name': 'Kelly', 'salary': 8000}

Delete a list of keys from a dictionary

In [194]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys1 = ["name", "salary"]

In [196]:
for k in keys1:
    sample_dict.pop(k)

In [197]:
sample_dict

{'age': 25, 'city': 'New york'}

Write a Python program to check if value 200 exists in the following dictionary.

In [226]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [227]:
sample_dict.values()

dict_values([100, 200, 300])

In [228]:
for i in sample_dict.values():
    if i == 200:
        print("exists")
    else:
        pass

Not Exists
exists
Not Exists

Rename a key in the dictionary from city to place

In [229]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

In [230]:
sample_dict["place"] = sample_dict.pop("city")

In [231]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'place': 'New york'}

Get the key of a minimum value from the following dictionary

In [233]:
sample_dict1 = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
keys = ["Physics", "Math","history"]

In [238]:
min({k:sample_dict1[k] for k in keys })

'Math'

 Create a string made of the first, middle and last character

In [9]:
st11 = "Whatsapp"

In [10]:
st1 = st11[0] + st11[len(st11)//2] + st11[len(st11)-1]

In [11]:
st1

'Wsp'

Write a program to create a new string made of the middle three characters of an input string.

In [19]:
str1 = "Beautiful"

In [20]:
def prg(str1):
    m = str1[len(str1)//2]
    m1 = str1[(len(str1)//2)-1]
    m2 = str1[(len(str1)//2)+1]
    return m1+m+m2

In [21]:
prg(str1)

'uti'

In [22]:
prg("Awake")

'wak'

Append new string in the middle of a given string
Given two strings, s1 and s2. 
* Write a program to create a new string s3 by appending s2 in the middle of s1.

In [42]:
s1 = "Uncle"
s2 = "Aunty"

In [43]:
def middle(s1,s2):
    return s1[0:len(s1)//2+1] + s2 + s1[len(s1)//2+1:]

In [44]:
middle(s1,s2)

'UncAuntyle'

Create a new string made of the first, middle, and last characters of each input string

* Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

In [31]:
s1 = "America"
s2 = "Japan"

In [32]:
def new_str(s1,s2):
    l1 = len(s1)
    l2 = len(s2)
    m1 = s1[0]+s2[0]
    m2 = s1[l1//2]+s2[l2//2]
    m3 = s1[l1-1]+s2[l2-1]
    return m1+m2+m3

In [34]:
new_str("Venkata","Kiran")

'VKkran'

Arrange string characters such that lowercase letters should come first

* Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

In [58]:
def joinstr(str1):
    lower = []
    upper = []
    for i in str1:
        if i.islower():
            lower.append(i)
        else:
            upper.append(i)
    return "".join(lower+upper)

In [59]:
joinstr("MyBaNGalore")

'yaaloreMBNG'

Count all letters, digits, and special symbols from a given string

In [60]:
str1 = "P@#yn26at^&i5ve"

In [80]:
def counta1(str1):
    x = 0
    y = 0
    z = 0
    for i in str1:
        if i.isalpha():
            x = x+1
        elif i.isdigit():
            y = y+1
        else:
            z = z+1
    return "No of letters are",x,"No of digits are",y,"No of symbols are",z

In [78]:
counta1("ILOVE1236r67767&*&&^&%&%&&")

('No of letters are', 6, 'No of digits are', 9, 'No of symbols are', 11)

Write a program to find all occurrences of “India” in a given string ignoring the case.

In [81]:
str1 = "Welcome to India and india is an awesome country and india is going to be the future leader."

In [82]:
str2 = "India"

In [93]:
def str_count(str1, str2 = ""):
    count = 0
    for i in str1.split():
        if i.lower() == str2:
            count = count+1
    return count

In [98]:
str_count(str1,"india")

3